<mat-toolbar class="primary">
  <span>Quizzy</span>
</mat-toolbar>

<div class="container">
  <mat-card>
    <mat-card-title>Answer Correctly</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-stepper class="quiz-stepper" [linear]="true" [orientation]="(stepperOrientation | async)!">
        @for (question of questions; track $index) {
          <mat-step 
            [stepControl]="formGroups[question.controlName]"
            label="Question {{$index + 1}}"
          >
            <form [formGroup]="formGroups[question.controlName]" class="quiz-form">
              <mat-label>{{ question.label }}</mat-label>
              <mat-radio-group formControlName="answer">
                @for (option of question.options; track $index) {
                  <mat-radio-button value="{{ option.value }}">{{ option.label }}</mat-radio-button>
                }
              </mat-radio-group>
              <div class="button-container">
                @if ($index > 0) {
                  <button mat-button matStepperPrevious>Back</button>
                }
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
        }
        <mat-step>
          <ng-template matStepLabel>Finish</ng-template>
          <div class="end">
            @if (submitted) {
              @defer {
                <p>{{ correctAnswers <= 3 ? 'Better luck next time!' : 'Well done!' }}</p>
                <p>You scored <strong>{{ correctAnswers }}/5</strong></p>
                <button mat-button (click)="restart()">Restart</button>
              } @placeholder (minimum 400ms) {
                <mat-spinner></mat-spinner>
              }

            } @else {
              <p>You are now done, you can submit your answers or go back and check them again.</p>
              <div class="button-container">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="submitAnswers()">Submit</button>
              </div>
            }
          </div>
        </mat-step>
      </mat-stepper>
    </mat-card-content>
  </mat-card>
</div>